<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lot.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lot.description %>
</p>

<p>
  <strong>Start price:</strong>
  <%= @lot.start_price %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @lot.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @lot.end_datetime %>
</p>

<p>
  <%= image_tag @lot.photo.url(:medium) %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Destroy', lot_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', lots_path %>
